@import 'src/variables/colors.scss';

.range {
    background: $deactivateFiller;
    height: 100%;
    border-radius: inherit;
    transition: width .4s ease-out;
    position: absolute;
    bottom: 0%;
    z-index: 0;
}

.range-out {
    background: $deactivateFiller;
    height: 100%;
    border-radius: inherit;
    transition: width .3s ease-in;
    position: absolute;
    bottom: 0%;
    z-index: 0;
}